
<div id="faceIdMaxBox">
    <div class="faceIdBox">
        <div class="box_12Main">
            <p class="main_p21">FaceID  身份验证</p>
            <div class="videoStartMain_d11">
                <span id="videoNum"></span>
            </div>
            <p class="main_p22 videoStart_p11">查看
                <span>录制须知</span>
            </p>
            <div class="videoStartMain_d12">
                
            </div>
            <div class="videoStartMain_d13">
                <a class="videoStart_a11">请牢记数字<span>(<i class="SetTimes">3</i>s后开始录制)</span></a>
                <a class="videoStart_a12">开始录制视频
                    <form  method="post" enctype="multipart/form-data">
                        <input id="videoStarIn" type="file" accept="video/*" capture="camcorder">
                        <input type="hidden" name="img_upload_base" id="video_upload_base" >
                    </form>
                </a>
            </div>
            <a class="main_a22">退出验证</a>
        </div>
    </div>
</div>